<h1>Sessions#setting</h1>
<% if @current_user.admin %>
  <h2 class='User_Header'> <%=@current_user.email%>'s Admin Setting <h2>
  <p> Coming Soon ~~ </p>
<% else %>
  <p> Admin only Page !!! Please Click Home button  </p> 
<% end %>