<html>
<h1>Calories Calculator</h1>

<table>

  <thead>
    <tr>
      <th>Exercise Level</th>

      <th rowspan="1"></th>
    </tr>
  </thead>


  <tbody>

      <tr>
        <td>
          <select id = "level">
            <option  value="1">Once a Week</option>
            <option  value="2">Twice a Week</option>
            <option  value="3">Three times a Week</option>
            <option  value="4">Four times a Week</option>
            <option  value="5">Five times a Week</option>
          </select>
        </td>
      </tr>

      <tr>
        <th>Age</th>
      </tr>
      <tr>
        <th><input type="text" id="age" ></th>
      </tr>

      <tr>
        <th>Height(cm)</th>
      </tr>
      <tr>
        <th><input type="text" id="height" ></th>
      </tr>

      <tr>
        <th>Weight(kg)</th>
      </tr>
      <tr>
        <th><input type="text" id="weight" ></th>
      </tr>

      <tr>
        <th><br>Calories Demand(Calories/day)</br></th>
      </tr>
      <tr>
        <th><span id="result"></span></th>
      </tr>

      <tr>
        <th><br>Fat Loss(Calories/day)</br></th>
      </tr>
      <tr>
        <th><span id="fat_loss_result"></span></th>
      </tr>

      <tr>
        <th><br>Extrem Fat Loss(Calories/day)</br></th>
      </tr>
      <tr>
        <th><span id="ex_fat_loss_result"></span></th>
      </tr>

      <tr>
        <th><br><button type="button" onclick="cal()">Start</button></span></br></th>
      </tr>

  </tbody>
</table>
</html>
